lihtml, body {
  height: 100%; }

body {
  font-family: Calibri, Arial, San-Serif;
  color: #777676;
  position: relative; }

a {
  text-decoration: none; }

header {
  width: 100%;
  height: 100px;
  box-shadow: 5px 10px 18px grey;
  /*****dropdown*****/ }
  header nav {
    margin: 0 auto;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header a {
    font-size: 30px;
    color: #7c7c7c;
    font-size: 30px;
    font-weight: 800; }
  header a:hover {
    color: #080808; }
  header img {
    height: 70px; }
  header .dropdown .dropbtn {
    border: none;
    background-color: inherit; }
  header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
  header .dropdown-content a {
    font-size: 25px;
    color: #7c7c7c;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; }
  header .dropdown-content a:hover {
    background-color: #ddd; }
  header .dropdown:hover .dropdown-content {
    display: block; }

main {
  width: 100%;
  height: calc(100% - 100px);
  /* Position the "next button" to the right */ }
  main .slides {
    display: block;
    width: 100%;
    height: 100%; }
  main .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }
@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
  main .imghold {
    display: none;
    width: 100%;
    height: 100%;
    position: relative; }
  main .prev, main .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0; }
  main .next {
    right: 0;
    border-radius: 3px 0 0 3px; }
  main .texthold {
    display: flex;
    align-items: center;
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: black;
    top: 25%;
    right: 25%;
    opacity: 0.5; }
    main .texthold p {
      text-align: center;
      padding: 10%;
      font-size: 60px;
      opacity: 1;
      color: white; }
  main .uslinks {
    margin: 0 auto;
    margin-top: 50px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
    main .uslinks .uslink {
      cursor: pointer;
      width: 20%;
      margin: 2%;
      color: #777676; }
      main .uslinks .uslink img {
        width: 100%;
        height: 60%; }
      main .uslinks .uslink h3, main .uslinks .uslink p {
        padding-right: 20px;
        padding-left: 20px; }
    main .uslinks .uslink:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  main .apps {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; }
    main .apps .appsholder {
      width: 100%;
      display: flex;
      justify-content: center; }
      main .apps .appsholder a {
        width: 15%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        opacity: 0.85;
        margin: 3%; }
        main .apps .appsholder a img {
          width: 100%; }
      main .apps .appsholder a:hover {
        opacity: 1; }
      main .apps .appsholder a:hover h3, main .apps .appsholder p {
        text-decoration: underline; }
  main .instructions {
    height: 100%;
    width: 100%; }
    main .instructions h2 {
      font-size: 35px;
      padding-left: 10%; }
  main .instimghold {
    width: 100%;
    height: 90%;
    background-image: url("../img/puzzle.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 20px; }
  main .KKinstHold, main .TAinstHold {
    margin: 0 auto;
    width: 70%; }
    main .KKinstHold h3, main .TAinstHold h3 {
      font-size: 30px;
      text-align: center; }
    main .KKinstHold .KKinst, main .TAinstHold .KKinst {
      width: 100%;
      text-decoration: none;
      color: #4b7f97;
      background-color: #e9f6fc;
      display: block;
      border-radius: 20px; }
      main .KKinstHold .KKinst h4, main .TAinstHold .KKinst h4 {
        font-size: 25px;
        margin: 50px 30px 30px 30px;
        padding-top: 20px; }
      main .KKinstHold .KKinst p, main .TAinstHold .KKinst p {
        font-size: 20px;
        margin: 30px 30px 30px 30px;
        padding-bottom: 20px; }
    main .KKinstHold .TAinst, main .TAinstHold .TAinst {
      width: 100%;
      text-decoration: none;
      color: #4b7f97;
      background-color: #e9f6fc;
      display: block;
      border-radius: 20px; }
      main .KKinstHold .TAinst h4, main .TAinstHold .TAinst h4 {
        font-size: 25px;
        margin: 50px 30px 30px 30px;
        padding-top: 20px; }
      main .KKinstHold .TAinst p, main .TAinstHold .TAinst p {
        font-size: 20px;
        margin: 30px 30px 30px 30px;
        padding-bottom: 20px; }
  main .video {
    width: 960px;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    background-color: #417083; }
    main .video .videolisthold {
      border: 1px solid #256a97;
      width: 320px;
      height: 640px; }
      main .video .videolisthold .videolist {
        width: 100%;
        height: 100%;
        border: 1px solid pink; }
        main .video .videolisthold .videolist li {
          width: 100%;
          height: 10%;
          font-size: 90%;
          list-style-type: none; }
    main .video .videohold {
      border: 1px solid grey;
      width: 640px;
      height: 100%; }
      main .video .videohold h3 {
        margin: 2% 5% 0% 5%; }
      main .video .videohold iframe {
        width: 600px;
        height: 500px;
        margin: 20px; }

/*# sourceMappingURL=styles.css.map */
